.f-v-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.f-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pic-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.conter {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 380px;
  min-width: 855px;
  margin: 0;
  padding: 0;
  background: url("../img/background.jpg") no-repeat center left;
  background-size: cover;
}
.login {
  margin: 0;
  padding: 0;
  width: 340px;
  height: auto;
  position: absolute;
  left: 60%;
  top: 20%;
}
.login-gui {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.login-gui > span {
  display: inline-block;
  width: 100%;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  box-sizing: border-box;
}
.login-gui > span i {
  margin-right: 5px;
}
.login-gui label input {
  display: block;
  border-radius: 3px;
  width: 100%;
  padding: 10px 12px;
  height: 36px;
  line-height: 28px;
  margin: 20px 0;
  border: 1px solid #9AB2CA;
  box-sizing: border-box;
  font-size: 14px;
}
.login-gui label input:nth-child(3) {
  width: 55%;
  margin: 0;
  display: inline-block;
}
.code-num {
  width: 40%;
  float: right;
  display: inline-block;
  height: 36px;
  background: url("../img/code.jpg") no-repeat center left;
  background-size: cover;
}
.login-btn {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  display: block;
  border-radius: 3px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #009eeb;
}
.login-btn:hover {
  background-color: #0589ca !important;
}
html,
body {
  height: 100%;
}
.ivu-select-dropdown {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}
.scroll-page {
  height: 100%;
  overflow: auto;
}
.hide {
  display: none;
}
.layout {
  min-height: 100%;
  background: #f5f7f9;
  position: relative;
}
.layout.header-fixed .layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.layout.header-fixed .layout-header .ivu-select-dropdown {
  top: 62px !important;
}
.layout.header-fixed .layout-page {
  padding-top: 60px;
}
.layout-header {
  position: relative;
  z-index: 9;
  height: 60px;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.layout-header .header-name {
  float: left;
  position: relative;
  top: 14px;
  margin-right: 24px;
}
.layout-header .header-name .name {
  font-size: 16px;
  color: #464c5b;
  font-weight: bold;
  line-height: 32px;
}
.layout-header .header-name .name .ivu-icon {
  font-size: 19px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 4px;
}
.layout-header .header-name .name:hover {
  color: #5cadff;
}
.layout-header .header-name .item {
  padding-left: 16px;
}
.layout-header .header-name .item .ivu-icon {
  float: left;
  margin-top: 5px;
  margin-left: -16px;
}
.layout-header .header-name .item h4 {
  color: #464c5b;
  font-size: 14px;
}
.layout-header .header-name .item h4 em {
  display: inline-block;
  background: #ed3f14;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  border-radius: 16px;
  padding: 0 8px;
  transform: scale(0.8);
}
.layout-header .header-name .item p {
  color: #9ea7b4;
}
.layout-header .header-name .ivu-dropdown-item-selected {
  background: #fff;
}
.layout-header .header-name .ivu-select-dropdown {
  top: 48px !important;
}
.layout-header .header-search {
  float: left;
  position: relative;
  top: 14px;
  margin-right: 24px;
}
.layout-header .header-search .ivu-input-icon {
  right: 8px;
}
.layout-header .header-search .ivu-input {
  width: 160px;
  padding-left: 16px;
  padding-right: 40px;
  background-color: #f8f8f9;
  border-radius: 16px;
}
.layout-header .header-search .ivu-input:hover {
  border-color: #dddee1;
}
.layout-header .header-search .ivu-input:focus {
  width: 200px;
  background-color: #fff;
  border-color: #dddee1;
  box-shadow: none;
}
.layout-header .header-search .demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #F6F6F6;
}
.layout-header .header-search .demo-auto-complete-item:last-child {
  border-bottom: 0;
}
.layout-header .header-search .demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 16px;
}
.layout-header .header-search .demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.layout-header .header-search .demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}
.layout-header .header-search .ivu-select-dropdown {
  top: 48px !important;
}
.layout-header .header-shortcut {
  float: left;
  position: relative;
  top: 18px;
}
.layout-header .header-shortcut .item .ivu-icon {
  width: 16px;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
  margin-top: -4px;
}
.layout-header .header-shortcut .ivu-select-dropdown {
  top: 44px !important;
}
.layout-header .header-menu {
  float: right;
  margin-left: 56px;
  margin-right: 32px;
}
.layout-header .header-menu .ivu-menu-item {
  border-bottom-color: #fff;
}
.layout-header .header-menu .ivu-menu-item.ivu-menu-item-active {
  border-bottom-color: #2d8cf0;
}
.layout-header .header-menu .ivu-menu-item span {
  display: block;
  padding: 0 20px;
  margin: 0 -20px;
}
.layout-header .header-hotnews {
  float: right;
}
.layout-header .header-hotnews .handle {
  position: relative;
  display: block;
  width: 80px;
  height: 28px;
  background: #ed3f14;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 28px;
}
.layout-header .header-hotnews .handle:hover {
  height: 32px;
  line-height: 32px;
}
.layout-header .header-hotnews .handle:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-left-width: 40px;
  border-right-width: 0;
  border-bottom-width: 5px;
  border-left-color: #ed3f14;
}
.layout-header .header-hotnews .handle:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 40px;
  border-bottom-width: 5px;
  border-right-color: #ed3f14;
}
.layout-header .header-user {
  float: right;
  position: relative;
  top: 14px;
  margin-left: 24px;
}
.layout-header .header-user .item .ivu-icon {
  width: 16px;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
  margin-top: -4px;
}
.layout-header .header-user .ivu-select-dropdown {
  top: 48px !important;
}
.layout-header .header-subnav {
  float: right;
  position: relative;
  top: 18px;
  margin-left: 24px;
}
.layout-header .header-subnav .handle .ivu-icon {
  color: #bbbec4;
}
.layout-header .header-subnav .handle:hover .ivu-icon {
  color: #5cadff;
}
.layout-header .header-subnav .ivu-select-dropdown {
  top: 44px !important;
}
.layout-header .header-tilemenu .box {
  width: 200px;
  padding: 6px 8px 3px;
}
.layout-header .header-tilemenu .box .caption {
  font-size: 14px;
  color: #464c5b;
  font-weight: bold;
  border-bottom: 1px solid #dddee1;
  margin: 0 8px 6px;
  padding-bottom: 8px;
}
.layout-header .header-tilemenu .box .item {
  position: relative;
  display: block;
  height: 76px;
  background: #f8f8f9;
  margin: 8px;
  border: 1px solid #e9eaec;
  border-radius: 4px;
  text-align: center;
}
.layout-header .header-tilemenu .box .item .ivu-badge {
  position: absolute;
  top: 8px;
  right: 8px;
}
.layout-header .header-tilemenu .box .item .ivu-icon {
  color: #bbbec4;
  margin-top: 10px;
}
.layout-header .header-tilemenu .box .item .text {
  color: #657180;
  margin-top: 2px;
}
.layout-header .header-tilemenu .box .item:hover {
  border-color: #5cadff;
}
.layout-header .header-tilemenu .box .item:hover .ivu-icon {
  color: #5cadff;
}
.layout-header .header-tilemenu .box .item:hover .text {
  color: #5cadff;
}
.layout-sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 120px;
  background: #fff;
}
.layout-sidemenu:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #dddee1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.layout-sidemenu .scrollbar {
  height: 100%;
}
.layout-sidemenu .search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 14px;
  border-bottom: 1px solid #e9eaec;
}
.layout-sidemenu .search input {
  background: #f8f8f9;
  padding-left: 16px;
  padding-right: 40px;
  border-radius: 32px;
}
.layout-sidemenu .search .ivu-input-icon {
  right: 8px;
}
.layout-sidemenu .menu-btn {
  position: absolute;
  top: 80px;
  left: 24px;
  right: 24px;
}
.layout-sidemenu .menu-btn .ivu-btn {
  width: 100%;
}
.layout-sidemenu .shadow {
  position: absolute;
  top: 120px;
  left: 0;
  right: 2px;
  z-index: 901;
  height: 16px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(rgba(255, 255, 255, 0)));
}
.layout-sidemenu .often-use-menu {
  width: 240px;
}
.layout-sidemenu .often-use-menu .ivu-menu-submenu-title:hover {
  background: none;
}
.layout-sidemenu .often-use-menu .ivu-menu-submenu-title .setup-icon {
  float: right;
  position: relative;
  top: 4px;
  color: #2d8cf0;
  transition: transform 0.2s ease-in-out;
}
.layout-sidemenu .often-use-menu .ivu-menu-item-active {
  background: #f3f3f3;
}
.layout-sidemenu .often-use-menu .remove-icon {
  float: right;
  position: relative;
  top: 4px;
  color: #ed3f14;
  transition: transform 0.2s ease-in-out;
  display: none;
}
.layout-sidemenu .often-use-menu.opened .ivu-menu-item:hover {
  background: none;
}
.layout-sidemenu .often-use-menu.opened .ivu-menu-item.ivu-menu-item-active {
  background: none;
  color: #495060;
  border-right-color: transparent;
}
.layout-sidemenu .often-use-menu.opened .ivu-menu-item .remove-icon {
  display: block;
}
.layout-sidemenu .general-menu {
  width: 240px;
}
.layout-sidemenu .general-menu .ivu-menu-item .item-inner {
  padding: 14px 24px 14px 43px;
  margin: -14px -24px -14px -43px;
}
.side-page {
  padding-left: 240px;
}
.page-container {
  padding: 32px 56px;
}
.page-container .page-panel {
  position: relative;
  background: #fff;
  margin-top: 20px;
}
.page-container .page-panel:first-child {
  margin-top: 0;
}
.key-item-swiper {
  padding: 20px 30px 20px 10px;
  margin: 0 120px 0 20px;
  overflow: hidden;
}
.key-item-swiper .swiper-wrapper {
  height: 96px;
}
.key-item-swiper .swiper-slide {
  width: 240px;
}
.key-item-swiper .swiper-slide .link {
  display: block;
  padding: 10px;
  margin: -10px;
}
.key-item-swiper .swiper-slide .link:hover {
  background: #f8f8f9;
}
.key-item-swiper .swiper-slide .num span {
  font-size: 32px;
  color: #464c5b;
  line-height: 1;
}
.key-item-swiper .swiper-slide .num em {
  font-style: normal;
  font-size: 12px;
  margin-left: 12px;
  display: inline-block;
  vertical-align: text-bottom;
}
.key-item-swiper .swiper-slide .num em.up {
  color: #2d8cf0;
}
.key-item-swiper .swiper-slide .num em.down {
  color: #ed3f14;
}
.key-item-swiper .swiper-slide .title {
  font-size: 12px;
  color: #657180;
  line-height: 1;
  margin-top: 8px;
}
.key-item-swiper .swiper-slide .chart {
  height: 32px;
  margin-top: 12px;
}
.key-item-select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
  width: 120px;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  margin: 20px 0;
  border-left: 1px solid #e9eaec;
}
.key-item-select:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -33px;
  bottom: -10px;
  width: 32px;
  background: -webkit-gradient(linear, 60% 0, 0 0, from(#fff), to(rgba(255, 255, 255, 0)));
}
.key-item-select .ivu-icon {
  color: #80848f;
}
.key-item-select span {
  display: block;
  font-size: 12px;
  color: #657180;
}
.key-item-select:hover .ivu-icon {
  color: #9ea7b4;
}
.key-item-select:hover span {
  color: #9ea7b4;
}
.adsense {
  padding: 20px;
  text-align: center;
  margin: 0 -56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.adsense h4 {
  font-size: 16px;
}
.adsense p {
  font-size: 12px;
}
.adsense .ivu-btn {
  margin-top: 16px;
}
.adsense.light h4 {
  color: #464c5b;
}
.adsense.light p {
  color: #9ea7b4;
}
.adsense.dark h4 {
  color: #fff;
}
.adsense.dark p {
  color: #e9eaec;
}
.page-footer {
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid #dddee1;
  margin-top: 20px;
}
.page-footer .left {
  float: left;
}
.page-footer .right {
  float: right;
  text-align: right;
}
.page-footer p {
  font-size: 12px;
  color: #9ea7b4;
  overflow: hidden;
}
.page-footer p a {
  float: left;
}
.page-footer p a:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #dddee1;
  margin: 0 8px;
  vertical-align: middle;
  margin-top: -2px;
}
.page-footer p a:last-child:after {
  display: none;
}
.page-footer p span {
  float: left;
}
.page-footer p span:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #dddee1;
  margin: 0 8px;
  vertical-align: middle;
  margin-top: -2px;
}
.page-footer p span:last-child:after {
  display: none;
}
.page-footer .page-back-top {
  background: #80848f;
  width: 36px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.page-footer .page-back-top:hover {
  background: #5cadff;
}
.page-footer .page-back-top .ivu-icon {
  padding: 6px 0;
}
.page-footer .custom-service {
  display: block;
  right: 8px;
  bottom: 90px;
}
.page-footer .custom-service .page-back-top {
  background: #2d8cf0;
}
.page-footer .custom-service .page-back-top:hover {
  background: #5cadff;
}
.data-panel {
  position: relative;
  height: 460px;
  overflow: hidden;
}
.data-panel .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
}
.data-panel .info.map-info {
  z-index: 3;
}
.data-panel .panel-header {
  line-height: 24px;
}
.data-panel .panel-header h3 {
  font-size: 14px;
  color: #464c5b;
}
.data-panel .panel-header .operate {
  float: right;
}
.data-panel .panel-header .operate .btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: -2px;
}
.data-panel .panel-header .operate .btn.active .ivu-icon {
  color: #5cadff;
}
.data-panel .panel-header .operate .ivu-icon {
  display: block;
  font-size: 18px;
  color: #bbbec4;
}
.data-panel .panel-header .operate .ivu-icon:hover {
  color: #5cadff;
}
.data-panel .panel-header + .key-value {
  margin-top: 8px;
}
.data-panel .panel-tabs {
  height: 34px;
  margin-bottom: 16px;
}
.data-panel .panel-tabs .box {
  background: #fff;
}
.data-panel .panel-tabs .ivu-affix .box {
  margin-left: -36px;
  margin-right: -36px;
  padding-left: 36px;
  padding-right: 36px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.data-panel .panel-tabs .tab {
  display: inline-block;
  padding: 8px 0 6px 0;
  margin-right: 16px;
  color: #464c5b;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.data-panel .panel-tabs .tab:hover {
  color: #2d8cf0;
}
.data-panel .panel-tabs .tab.active {
  color: #2d8cf0;
  border-bottom-color: #2d8cf0;
}
.data-panel .key-value {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.data-panel .key-value span {
  display: inline-block;
  font-size: 12px;
  color: #657180;
  margin-right: 16px;
}
.data-panel .chart-box {
  height: 100%;
  padding: 92px 20px 20px;
}
.data-panel .chart-box:first-child {
  padding-top: 20px !important;
}
.data-panel .chart-box .chart {
  height: 100%;
}
.data-panel .table-box {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 20px;
  background: #fff;
  z-index: -3;
}
.data-panel .table-box:nth-child(2) {
  top: 20px !important;
}
.data-panel .table-box .ivu-table-wrapper {
  height: 100%;
}
.data-panel .table-box .ivu-table-wrapper .ivu-table {
  height: 100%;
}
.data-panel .table-box .ivu-table-wrapper .ivu-table .ivu-table-header {
  position: relative;
  z-index: 1;
}
.data-panel .table-box .ivu-table-wrapper .ivu-table .ivu-table-body {
  height: 100%;
  padding-top: 32px;
  margin-top: -32px;
  overflow: hidden;
}
.data-panel .all-map {
  height: 460px;
}
.data-panel .all-map .anchorBL {
  display: none;
}
.data-panel .all-map .anchorBL.BMap_scaleCtrl {
  display: block;
}
.table-panel {
  padding: 0 20px 20px;
}
.table-panel .table-columns-active {
  background-color: #f8f8f9;
}
.table-panel .table-top {
  line-height: 24px;
  padding-bottom: 16px;
}
.table-panel .table-top h3 {
  height: 24px;
  font-size: 14px;
  color: #464c5b;
}
.table-panel .table-top .operate {
  float: right;
}
.table-panel .table-top .operate .search {
  display: inline-block;
  width: 160px;
}
.table-panel .table-top .operate .search .ivu-icon {
  display: none;
}
.table-panel .table-top .operate .search .ivu-input {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
}
.table-panel .table-top .operate .btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: -2px;
}
.table-panel .table-top .operate .ivu-icon {
  display: block;
  font-size: 18px;
  color: #bbbec4;
}
.table-panel .table-top .operate .ivu-icon:hover {
  color: #5cadff;
}
.table-panel .table-bottom {
  overflow: hidden;
  margin-top: 16px;
}
.table-panel .table-bottom .page-size {
  width: 120px;
  float: left;
}
.table-panel .table-bottom .page {
  float: right;
}
.inner-page {
  background: #fff;
  padding: 16px;
}
.inner-page .ivu-alert {
  margin: 0 20px 20px;
}
.inner-page .key-item-swiper-wrap {
  margin-left: -16px;
  margin-right: -16px;
}
.inner-page .key-item-swiper-wrap .key-item-swiper {
  margin-left: 36px;
  margin-right: 36px;
  padding: 0 20px 0 0;
}
.inner-page .inner-page-header {
  padding: 20px;
}
.inner-page .inner-page-header h4 {
  display: inline-block;
  font-size: 16px;
  color: #464c5b;
}
.inner-page .inner-page-header .ivu-date-picker {
  position: relative;
  width: 140px;
  vertical-align: middle;
  padding-left: 16px;
  margin-top: -6px;
  margin-left: 12px;
}
.inner-page .inner-page-header .ivu-date-picker:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 18px;
  background: #e9eaec;
  top: 2px;
  left: 0;
}
.inner-page .inner-page-header .ivu-date-picker .ivu-input {
  padding-left: 12px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
}
.inner-page .inner-page-header .ivu-date-picker .ivu-input-icon {
  right: 8px;
}
.inner-page .inner-page-header .ivu-select {
  position: relative;
  width: 240px;
  vertical-align: middle;
  padding-left: 16px;
  margin-top: -6px;
  margin-left: 12px;
}
.inner-page .inner-page-header .ivu-select:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 18px;
  background: #e9eaec;
  top: 2px;
  left: 0;
}
.inner-page .inner-page-header .ivu-select .ivu-select-selection {
  padding-left: 4px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
}
.inner-page .inner-page-header .ivu-select .ivu-icon {
  right: 12px;
}
.inner-page .inner-page-header .ivu-select .remove {
  float: right;
  margin-top: 3px;
}
.inner-page .inner-page-header .oprate {
  float: right;
  line-height: 24px;
}
.inner-page .inner-page-header .oprate a {
  color: #80848f;
  font-size: 12px;
  margin-left: 16px;
}
.inner-page .inner-page-header .oprate a .ivu-icon {
  font-size: 16px;
  color: #bbbec4;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 4px;
}
.inner-page .inner-page-header .oprate a:hover {
  color: #5cadff;
}
.inner-page .inner-page-header .oprate a:hover .ivu-icon {
  color: #5cadff;
}
.inner-page .inner-page-header .oprate .ivu-btn {
  margin-left: 8px;
}
.inner-page .inner-page-footer {
  padding: 20px;
}
.inner-page .inner-page-footer .data-source {
  color: #9ea7b4;
  font-size: 12px;
}
.inner-page .inner-page-footer .explain {
  border-top: 1px solid #e9eaec;
  padding-top: 16px;
  margin-top: 8px;
}
.inner-page .inner-page-footer .explain p {
  color: #9ea7b4;
  font-size: 12px;
}
.filter-panel {
  background: #f8f8f9;
  padding: 16px;
  margin: 0 20px;
}
.filter-panel .ivu-select {
  width: 160px;
  margin-right: 8px;
}
.filter-panel .ivu-btn {
  float: right;
}
.report-page-top-style {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}
.report-page-top-style i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f5f7f9;
  border-radius: 100%;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 0 8px;
}
.report-desc {
  position: relative;
  background: #f8f8f9;
  color: #657180;
  padding: 16px 36px;
  margin: 0 -16px;
}
.report-panel {
  margin-top: 20px;
}
.report-panel .title {
  height: 29px;
}
.report-panel h4 {
  position: relative;
  font-size: 14px;
  color: #464c5b;
  padding: 8px 20px 0;
  background: #fff;
}
.report-panel h4:before {
  content: '';
  position: absolute;
  top: 11px;
  left: -23px;
  width: 32px;
  height: 14px;
  background: #2d8cf0;
}
.report-panel h4:after {
  content: '';
  position: absolute;
  top: 20px;
  left: -21px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #2d8cf0;
  transform: rotate(-135deg);
}
.report-panel .subTitle {
  height: 26px;
}
.report-panel .ivu-affix h5 {
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 36px;
  padding-right: 36px;
}
.report-panel:first-child .ivu-affix h5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.report-panel h5 {
  font-size: 12px;
  color: #464c5b;
  padding: 0 20px 8px;
  background: #fff;
}
.report-panel h6 {
  font-size: 12px;
  color: #464c5b;
  line-height: 22px;
  font-weight: normal;
}
.report-panel .panel-col {
  padding: 0 20px;
  border-right: 1px solid #e9eaec;
}
.report-panel .panel-col:last-child {
  border-right: 0;
}
.report-panel .chart {
  height: 300px;
  margin-top: -22px;
}
.report-panel .report-desc {
  padding: 16px;
  margin: 16px 20px 0;
}
.report-panel .report-desc:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #f8f8f9;
  top: -16px;
  left: 80px;
}
.alert-message-link {
  margin-left: 8px;
}
.key-item-swiper-modal .ivu-modal-footer {
  display: none;
}
.key-item-swiper-modal .item-wrap {
  max-height: 402px;
  overflow: hidden;
}
.key-item-swiper-modal .item-wrap .item-box {
  width: 240px;
  float: left;
  padding: 10px;
  background: #e9eaec;
  margin: 8px;
  border: 1px solid #dddee1;
  cursor: pointer;
}
.key-item-swiper-modal .item-wrap .item-box:hover {
  background: #f8f8f9;
}
.key-item-swiper-modal .item-wrap .item-box.selected {
  opacity: 0.4;
}
.key-item-swiper-modal .item-wrap .item-box .num span {
  font-size: 32px;
  color: #464c5b;
  line-height: 1;
}
.key-item-swiper-modal .item-wrap .item-box .num em {
  font-style: normal;
  font-size: 12px;
  margin-left: 12px;
  display: inline-block;
  vertical-align: text-bottom;
}
.key-item-swiper-modal .item-wrap .item-box .num em.up {
  color: #2d8cf0;
}
.key-item-swiper-modal .item-wrap .item-box .num em.down {
  color: #ed3f14;
}
.key-item-swiper-modal .item-wrap .item-box .title {
  font-size: 12px;
  color: #657180;
  line-height: 1;
  margin-top: 8px;
}
.key-item-swiper-modal .item-wrap .item-box .chart {
  height: 32px;
  margin-top: 12px;
}
.report-page {
  margin-right: 200px;
}
.report-page .report-indexes {
  position: relative;
  width: 160px;
  float: right;
  margin-right: -220px;
}
.report-page .report-indexes:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  bottom: -5px;
  width: 3px;
  background: #dddee1;
}
.report-page .report-indexes:after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -8px;
  width: 11px;
  height: 11px;
  background: #dddee1;
  border-radius: 100%;
}
.report-page .report-indexes li {
  position: relative;
  z-index: 1;
}
.report-page .report-indexes li .first {
  display: block;
  font-size: 14px;
  color: #9ea7b4;
  margin-left: -6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.report-page .report-indexes li .first:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 4px solid #dddee1;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 8px;
}
.report-page .report-indexes li .first:hover {
  color: #5cadff;
}
.report-page .report-indexes li .first:hover:before {
  border-color: #5cadff;
}
.report-page .report-indexes li .first.active {
  color: #2d8cf0;
}
.report-page .report-indexes li .first.active:before {
  border-color: #2d8cf0;
}
.report-page .report-indexes li .second a {
  display: block;
  font-size: 12px;
  color: #9ea7b4;
  margin: 12px 0 12px -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.report-page .report-indexes li .second a:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #dddee1;
  border: 2px solid #f5f7f9;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 10px;
}
.report-page .report-indexes li .second a:hover {
  color: #5cadff;
}
.report-page .report-indexes li .second a:hover:before {
  background: #5cadff;
}
.report-page .report-indexes li .second a.active {
  color: #2d8cf0;
}
.report-page .report-indexes li .second a.active:before {
  background: #2d8cf0;
}
.map-container {
  position: relative;
}
.map-container .map {
  height: 100%;
}
.map-container .map .anchorBL {
  display: none;
}
.map-container .map .anchorBL.BMap_scaleCtrl {
  display: block;
}
.map-container .map-list {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 3;
  width: 420px;
}
.map-container .map-list .chart-card {
  background: #2d8cf0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #2d8cf0;
}
.map-container .map-list .chart-card .inner-swiper {
  overflow: hidden;
  margin: 0 -16px;
}
.map-container .map-list .chart-card .inner-swiper .swiper-slide {
  width: 160px;
  padding: 0 16px;
}
.map-container .map-list .chart-card .inner-swiper .swiper-slide:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.map-container .map-list .chart-card .inner-swiper .swiper-slide:last-child:after {
  display: none;
}
.map-container .map-list .chart-card .num span {
  font-size: 24px;
  color: #fff;
  line-height: 1;
}
.map-container .map-list .chart-card .num i {
  font-style: normal;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: -3px;
  margin-left: -2px;
}
.map-container .map-list .chart-card .num em {
  font-style: normal;
  font-size: 12px;
  color: #fff;
  margin-left: 4px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: -1px;
}
.map-container .map-list .chart-card .title {
  font-size: 12px;
  color: #fff;
  line-height: 1;
  margin-top: 4px;
}
.map-container .map-list .chart-card .chart {
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 16px;
}
.map-container .map-list .chart-card .swiper-container {
  padding-bottom: 16px;
}
.map-container .map-list .chart-card .swiper-container .swiper-pagination {
  bottom: -6px;
}
.map-container .map-list .chart-card .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
}
.map-container .map-list .chart-card .swiper-container .swiper-btn {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  z-index: 9;
  margin-top: -16px;
  cursor: pointer;
  display: none;
}
.map-container .map-list .chart-card .swiper-container .swiper-btn.prev {
  left: 8px;
}
.map-container .map-list .chart-card .swiper-container .swiper-btn.next {
  right: 8px;
}
.map-container .map-list .chart-card .swiper-container .swiper-btn.swiper-button-disabled {
  display: none;
}
.map-container .map-list .chart-card:hover .swiper-btn {
  display: block;
}
.map-container .map-list .list-card {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  margin-top: 16px;
}
.map-container .map-list .list-card .updown-toggle {
  position: absolute;
  top: 18px;
  right: 24px;
  z-index: 1;
  font-size: 16px;
  color: #80848f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.map-container .map-list .list-card .updown-toggle:hover {
  color: #2d8cf0;
}
.map-container .map-list .list-card .tabs {
  margin-top: -4px;
}
.map-container .map-list .list-card .tabs ul li {
  position: relative;
  padding: 12px 0 12px 12px;
  border-top: 1px solid #e9eaec;
  cursor: pointer;
}
.map-container .map-list .list-card .tabs ul li:first-child {
  border-top: 0;
  padding-top: 0;
}
.map-container .map-list .list-card .tabs ul li:first-child:before {
  top: 3px;
}
.map-container .map-list .list-card .tabs ul li:first-child .ivu-icon {
  top: 0;
}
.map-container .map-list .list-card .tabs ul li:last-child {
  padding-bottom: 0;
}
.map-container .map-list .list-card .tabs ul li:last-child:before {
  bottom: 3px;
}
.map-container .map-list .list-card .tabs ul li:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 15px;
  width: 4px;
  background: #e9eaec;
  transition: all 0.3s ease-in-out;
}
.map-container .map-list .list-card .tabs ul li .title span {
  font-size: 14px;
  color: #464c5b;
  font-weight: bold;
}
.map-container .map-list .list-card .tabs ul li .title em {
  font-style: normal;
  font-size: 12px;
  color: #657180;
  margin-left: 8px;
}
.map-container .map-list .list-card .tabs ul li .desc {
  font-size: 12px;
  color: #9ea7b4;
}
.map-container .map-list .list-card .tabs ul li .ivu-icon {
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 24px;
  color: #ed3f14;
}
.map-container .map-list .list-card .tabs .tab_0 li.active:before,
.map-container .map-list .list-card .tabs .tab_0 li:hover:before {
  background: #ff9900;
}
.map-container .map-list .list-card .tabs .tab_1 li.active:before,
.map-container .map-list .list-card .tabs .tab_1 li:hover:before {
  background: #19be6b;
}
.map-container .map-list .list-card .tabs .tab_2 li.active:before,
.map-container .map-list .list-card .tabs .tab_2 li:hover:before {
  background: #ed3f14;
}
.map-container .map-list .list-card .tabs .tab_3 li.active:before,
.map-container .map-list .list-card .tabs .tab_3 li:hover:before {
  background: #2d8cf0;
}
.map-container .overlay-container {
  position: absolute;
  width: 0;
  height: 0;
}
.map-container .overlay-container .marker {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.map-container .overlay-container .marker-sm {
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  border: 3px solid #fff;
}
.map-container .overlay-container .marker-lg {
  width: 32px;
  height: 32px;
  top: -16px;
  left: -16px;
  border: 4px solid #fff;
}
.map-container .overlay-container .tab_0 {
  background: #ff9900;
}
.map-container .overlay-container .tab_1 {
  background: #19be6b;
}
.map-container .overlay-container .tab_2 {
  background: #ed3f14;
}
.map-container .overlay-container .tab_3 {
  background: #2d8cf0;
}
.map-container .overlay-container .tab_4 {
  background: #9A0D9A;
}
.map-container .overlay-container .tab_5 {
  background: #C4E513;
}
.map-container .overlay-container .tab_6 {
  background: #EDB814;
}
.map-container .overlay-container .tab_7 {
  background: #0DA166;
}
.map-container .overlay-wrap {
  position: absolute;
  left: -280px;
  bottom: 36px;
  width: 560px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
  z-index: 3;
}
.map-container .overlay-wrap:before {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 16px;
  background: #fff;
  z-index: 1;
}
.map-container .overlay-wrap:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  left: 50%;
  bottom: -10px;
  margin-left: -9px;
  transform: rotate(45deg);
  border: 1px solid #eee;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.map-container .overlay-wrap .ivu-tabs-bar {
  height: 34px;
}
.map-container .overlay-wrap .ivu-tabs-bar ul {
  float: right;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li {
  float: left;
  height: 34px;
  padding: 2px 16px 0;
  border: 1px solid #dddee1;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s ease-in-out;
  background: #f8f8f9;
  margin-left: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li span {
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #19be6b;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li .error {
  color: #ed3f14;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li em {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li:hover em {
  color: #2d8cf0;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li.active {
  background: #fff;
  border-bottom-color: #fff;
}
.map-container .overlay-wrap .ivu-tabs-bar ul li.active em {
  color: #2d8cf0;
}
.map-container .overlay-wrap .ivu-tabs-bar .title {
  font-size: 14px;
  color: #464c5b;
  font-weight: bold;
  line-height: 1.6;
}
.map-container .overlay-wrap .ivu-tabs-bar .close {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 20px;
  color: #80848f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.map-container .overlay-wrap .ivu-tabs-bar .close:hover {
  color: #ed3f14;
}
.map-container .overlay-wrap .ivu-alert {
  padding-top: 5px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: rgba(237, 63, 20, 0.6);
  border-color: rgba(237, 63, 20, 0.6);
  color: #fff;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row {
  border-bottom: 1px solid #e9eaec;
  padding: 8px 0;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row:first-child {
  padding-top: 0;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col {
  padding: 0 12px;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col:first-child {
  padding-left: 0;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col:first-child:before {
  display: none;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col:last-child {
  padding-right: 0;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  bottom: 3px;
  width: 1px;
  background: #e9eaec;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col p {
  font-size: 14px;
  color: #657180;
  line-height: 1.3;
}
.map-container .overlay-wrap .tabs-content .grid .ivu-row .ivu-col span {
  display: block;
  font-size: 12px;
  color: #9ea7b4;
  line-height: 1.3;
}
.map-container .overlay-wrap .tabs-content .table table {
  width: 100%;
  border-collapse: collapse;
}
.map-container .overlay-wrap .tabs-content .table th {
  height: 32px;
}
.map-container .overlay-wrap .tabs-content .table td {
  height: 32px;
}
.map-container .overlay-wrap .tabs-content .table .ivu-table-body {
  max-height: 192px;
  overflow: hidden;
}
.map-container .overlay-wrap .tabs-content .video {
  height: 300px;
  background: #000;
}
.sub-header-affix {
  height: 60px;
}
.sub-header {
  position: relative;
  height: 60px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #e9eaec;
}
.sub-header .subject-title-select {
  position: relative;
  top: 14px;
  float: left;
  width: 200px;
}
.sub-header .date-picker-box {
  float: right;
  position: relative;
  top: 14px;
  padding-left: 32px;
  cursor: pointer;
  margin-left: 12px;
}
.sub-header .date-picker-box:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  width: 1px;
  background: #e9eaec;
}
.sub-header .date-picker-box .ivu-date-picker {
  position: relative;
  width: 150px;
}
.sub-header .date-picker-box .ivu-date-picker .ivu-input {
  padding-left: 0;
  padding-right: 0;
  border-color: transparent;
  cursor: pointer;
}
.sub-header .date-picker-box .ivu-date-picker .ivu-input:focus {
  box-shadow: none;
}
.sub-header .date-picker-box .ivu-date-picker .ivu-input-icon {
  left: -28px;
  margin-top: -1px;
}
.sub-header .date-picker-box .ivu-date-picker .ivu-select-dropdown {
  top: 48px !important;
}
.sub-header .date-picker-box .arrow {
  position: relative;
  vertical-align: middle;
  margin-left: -16px;
}
.sub-header .date-picker-box:hover .ivu-input {
  color: #2d8cf0;
}
.sub-header .date-picker-box:hover .ivu-input-icon {
  color: #2d8cf0;
}
.sub-header .date-picker-box:hover .arrow {
  color: #2d8cf0;
}
.sub-header .filter-conditions {
  float: right;
  position: relative;
  top: 20px;
  cursor: pointer;
}
.sub-header .filter-conditions .filter-content {
  display: inline-block;
  padding: 0 6px;
}
.sub-header .filter-conditions .ivu-btn {
  padding: 0 6px 2px 0;
}
.sub-header .filter-conditions .arrow {
  vertical-align: middle;
}
.sub-header .filter-conditions.hover .filter-content {
  color: #2d8cf0;
}
.sub-header .filter-conditions.hover .arrow {
  color: #2d8cf0;
}
.sub-header .filter-conditions.hover .funnel {
  color: #2d8cf0;
}
.sub-header .filter-conditions-list {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 20px;
  background: #f8f8f9;
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.sub-header .filter-conditions-list .conditions-box {
  position: relative;
  padding: 4px 0 4px 80px;
  border: 1px solid #dddee1;
  background: #fff;
  margin-top: 12px;
}
.sub-header .filter-conditions-list .conditions-box:first-child {
  margin-top: 0;
}
.sub-header .filter-conditions-list .conditions-box .label {
  position: absolute;
  left: 16px;
  line-height: 32px;
}
.sub-header .filter-conditions-list .conditions-box .ivu-select-selection {
  border-color: transparent;
}
.sub-header .filter-conditions-list .conditions-box .ivu-select-visible .ivu-select-selection {
  box-shadow: none;
}
.sub-header .filter-conditions-list .conditions-box .ivu-select-dropdown {
  width: 240px !important;
  left: 85px !important;
}
.sub-header .filter-conditions-list .conditions-box .ivu-select-arrow {
  display: none;
}
.sub-header .filter-conditions-list .conditions-box .clear {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 12px;
  color: #80848f;
  cursor: pointer;
}
.sub-header .filter-conditions-list .conditions-box .clear:hover {
  color: #ed3f14;
}
.sub-header .filter-conditions-list .conditions-confirm {
  margin-top: 12px;
}
.sub-header .filter-conditions-list .conditions-confirm .ivu-btn {
  margin-right: 8px;
  float: right;
}
.ivu-affix .sub-header .date-picker-box .ivu-select-dropdown {
  top: 62px !important;
}
.ivu-affix .sub-header .filter-conditions-list .conditions-box .ivu-select-dropdown {
  left: 346px !important;
}
.explore-addmetric-panel {
  background: #f8f8f9;
  padding: 20px;
  margin: 0 20px;
}
.explore-addmetric-panel .ivu-btn {
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 26px;
}
.explore-addmetric-panel .addmetric-box {
  padding-right: 88px;
}
.explore-addmetric-panel .addmetric-box .ivu-col {
  padding-right: 16px;
}
.explore-addmetric-panel .addmetric-box .label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}
.explore-addmetric-panel .addmetric-box .cont-box {
  height: 36px;
  background: #fff;
  border: 1px solid #dddee1;
  line-height: 34px;
  padding: 0 12px;
  cursor: pointer;
}
.explore-addmetric-panel .addmetric-box .cont-box .ivu-icon {
  font-size: 14px;
  color: #80848f;
  margin-right: 4px;
}
.metric-modal .ivu-modal-body {
  padding: 0;
}
.metric-modal .ivu-tabs-bar {
  margin-bottom: 0;
}
.metric-modal .equ-title {
  padding: 8px 16px;
  background: #f8f8f9;
  border-bottom: 1px solid #dddee1;
}
.metric-modal .equ-title .ivu-breadcrumb {
  line-height: 24px;
}
.metric-modal .equ-title .search {
  float: right;
  width: 160px;
}
.metric-modal .equ-title .search .ivu-input {
  padding-left: 12px;
  border-radius: 24px;
}
.metric-modal .equ-title .search .ivu-icon {
  right: 4px;
}
.metric-modal .equ-metric {
  height: 300px;
  overflow: auto;
}
.metric-modal .equ-metric li {
  padding: 12px 16px;
  border-bottom: 1px solid #e9eaec;
  cursor: pointer;
}
.metric-modal .equ-metric li .ivu-icon {
  float: right;
  color: #80848f;
  margin-top: 4px;
}
.metric-modal .equ-metric li.active span {
  color: #2d8cf0;
}
.metric-modal .equ-metric li.active .ivu-icon {
  color: #2d8cf0;
}
#portraitMonitor_map_01 .data-panel {
  position: relative;
  height: 920px;
  overflow: hidden;
}
#portraitMonitor_map_01 .data-panel .all-map {
  height: 920px;
}
@media screen and (max-width: 1600px) {
  .report-page {
    margin-right: 0;
  }
  .report-page .report-indexes {
    display: none;
  }
}
.mmp-active {
  background-color: rgba(25, 190, 107, 0.3) !important;
}
.mmp-fkme td {
  background-color: #f8f8f9 !important;
}
